/QT/XCustomPlot-master/*.user
/QT/XCustomPlot-master/Bin
/QT/myminiBlink/*.user
/QT/myminiBlink/Bin
/QT/myAESTest/*.user
/QT/myAESTest/Bin
/QT/BarChart/Bin
/QT/BarChart/*.user
/QT/BarChart/*.4ddc2dc
/QT/BarChart/*.8-pre1
/QT/windowsTimeAPI/*.user
/QT/windowsTimeAPI/Bin
/QT/myRSATest_01/*.user
/QT/MyFirstPlugin/*.user
/QT/MoneyCount/*.user
